<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="{% static "css/forms.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Endereço de Email</label>
            <br>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label>Senha</label>
            <br>
            {{ form.senha }}
        </div>
        <div class="form-group">
            <label>Avaliacao</label>
            <br>
            {{ form.avaliacao.as_option }}
        </div>
        <div class="form-group">
            <label>Receber notificões?</label>
            <br>
            {{ form.notificacao }}
        </div>
        <div class="form-group">
            <label>Comentarios</label>
            <br>
            {{ form.comentarios }}
        </div>
        <!-- </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Me notifique</label>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Avaliação</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Excelente</option>
                    <option>Bom</option>
                    <option>Médio</option>
                    <option>Ruim</option>
                    <option>Péssimo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comentários Adicionais</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div> -->
        <div>
            <button type="" class="btn btn-primary">Enviar</button>
        </div>
        <div>
            <a href="visualizar">Ver usuários</a>
        </div>
    </form>
</div>
</body>
</html>