<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<div>
    <div class="container" align="center" style="background:{opacity}">
        <div class="" align="">
            <h1 style="text-weight: bolder;" align="" class="display-4">Home</h1>
            <img src="{% static "img/chat_2.png" %}" width=64 height=64/>
            <p style="font-weight: 250 bold; font-size: 25px;" class="lead">Projeto final da matéria Projeto Integrador III</p>
            <hr class="my-4">
            <ul style="color: transparent; text-align: center; margin-right: 30px;">
                <li><a style="color: #6610f2;" href="/create-livro/">Cadastrar Livro</a></li>
                <li><a style="color: #6610f2;" href="/read-livro/">Visualizar Livros</a></li>
                <li><a style="color: #6610f2;" href="/create-autor/">Cadastrar Autor</a></li>
                <li><a style="color: #6610f2;" href="/read-autor/">Visualizar Autor</a></li>
            </ul>
            <div class="welcome-wrap">
                <div style="text-align: center;" class="welcome-text">
                    <hr class="my-4">
                    <br>
                    <h2 style="color: #800000;" class="section-title">Bem-Vindo a Livraria Pessoal</h2>
                    <span class="underline left"></span>
                    <p style="color: #1c2329;" class="lead">Aqui você poderá cadastrar, visualizar ou atualizar o cadastro do seus livros e autores favoritos.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>