div{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 30px 30px 30px 30px;
}

.site-section {
  padding: 2em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 7em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }
